body {
    margin:0;

    font-size: 18px;
    color: #333;

    width: 100%;

    font-family: 'Montserrat', sans-serif;
}


*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

/* Header */
.header{
    width: 100%;

    background-image: url("../Images/header\ image.png");
}

.header__inner{
    width: 100%;

    display: flex;
    
}

.header__logo{
    width: 50px;
    height: 35px;

    
    margin-top: 38px;
    margin-left: 100px;
}

.nav{
    width: 100%;


    display: flex;
    justify-content: right;

    margin-right: 100px;
    margin-top: 38px;
}

.nav__link{

    margin: 0 30px;
    text-decoration: none;

    color: #333;

}

.nav__link:hover{
    color: #10c9c3;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}


/* Banner */
.banner{
    width: 100%;
    height: 600px;

    background-image: url("../Images/header image.png");


}

.banner__text{
    
}

.text__logo{
    font-size: 38px;

    display: flex;

    justify-content: right;
    margin-right: 130px;
    padding-top: 180px;
}

.text{
    font-family: 'Nunito Sans', sans-serif;

    display: flex;

    justify-content: right;
    margin-right: 130px;
    margin-top: 20px;
}

.banner__button{
    display: flex;

    justify-content: right;

    margin-right: 430px;
    margin-top: 20px;
}

button{
    text-transform: uppercase;

    outline: none;
    border: none;

    padding: 20px 45px;
    background-color: #10c9c3;
    color: white;

    font-size: 12px;
}


/* About */
.about{
    display: grid;
    width: 100%;
    height: 420px;
    justify-content: center;
}

.about__logo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 50px;
}

.about__text{
    display: flex;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

.about__signature{
    display: flex;
    justify-content: center;
}

.signature{
    width: 245px;
    height: 60px;
}


/* Skills */
.skills{
    height: 570px;
    width: 100%;
    display: flex;
}

.skills__content{
    width: 50%;
    height: 570px;
    background-image: url("../Images/prof_skill_bg.png");
}

.content__logo{
    font-size: 50px;

    height: 55px;
    width: 500px;

    margin-top: 150px;
    margin-left: 200px;
}

.skills__progress{
}

.progress{
    text-transform: uppercase;
    margin-top: 42px;
    
    margin-left: 200px;
}

::-webkit-progress-bar {
    background: #d8d8d8;
}
::-webkit-progress-value {
    background: #10c9c3;
}
::-moz-progress-bar {
    background: #10c9c3;
}

progress{
    width: 500px;
    height: 5px;
    color:#10c9c3;
    background-color: #d8d8d8;
    border: none;
}

.skills__img{
    width: 50%;
}